<ion-header>
  <ion-toolbar>
    <ion-title>Añadir publicador</ion-title>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <span ion-text color="primary" showWhen="ios">Cerrar</span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-item>
    <ion-label color="primary" floating>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="publicador.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Comentarios</ion-label>
    <ion-textarea [(ngModel)]="publicador.quote"></ion-textarea>
  </ion-item>
  
  <ion-item>
    <ion-label color="primary">Publicaciones</ion-label>
    <button item-right ion-button outline (click)="addRow()">
        <span ion-text color="primary" showWhen="ios">Añadir</span>
        <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-item>

  <ion-card *ngFor="let publication of publicador.publications">
    <ion-card-header>
      <button item-right ion-button clear (click)="deleteRow(publication.$index)">
        <span ion-text color="primary" showWhen="ios">Delete</span>
      <ion-icon name="md-trash"></ion-icon>
    </button>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label color="primary">Publicacion</ion-label>
        <ion-select item-right [(ngModel)]="publication.key">
          <ion-option *ngFor="let publi of publicaciones" value="{{publi.$key}}">{{publi.title}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary">Cantidad</ion-label>
        <ion-input text-right type="number" placeholder="Cantidad" [(ngModel)]="publication.quantity"></ion-input>
      </ion-item>

    </ion-list>
  </ion-card>

  <button ion-button full (click)="addPublicador(publicador)">Crear</button>

</ion-content>